@font-face {
    font-family: vcr;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

html {
    background-color: rgb(201, 198, 151);
}

img {
    outline-style: auto;
    outline: auto;
    outline-width: 5px;
}

a {
    color: rgb(255, 255, 255)
}

.title {
    color:rgb(255, 255, 255);
    font-family: vcr;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    scale: 1;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}