@font-face {
    font-family: vcr;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

html {
    background-color: #5c2800;
}

.title {
    color: lightsalmon;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'vcr';
}

a {
    color: salmon;
}