

html {
    background-color: rgb(33, 33, 33) ;
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat;
    background-attachment: scroll;
    height: 100vh; /* Make sure body takes up full height */
    margin: 0; /* Remove default margin */
}

header {
    position: fixed;
    text-align: center;
    color: aliceblue;
    font-family: vcr;
}

.email {
    text-align: center;
    color: azure;
    font-family: vcr;
    font-weight: 600;
    display: block;
    font-size: xx-large;
    scale: 1
}

.top {
    animation-name: logorot;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.cloud {
    scale: 0.6;
    display: absolute;
    overflow: visible;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    scale: 1;
}

.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-top: 55%;
}

.welcome {
    color: white;
    font-family:vcr;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    scale: 1.6;
}

.text {
    color: white;
    font-family: vcr;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    scale: 1;
}

.nametext {
    font-family: vcr;
    scale: 1.4;
}

.team {
    color: white;
    font-family: vcr;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    display:inline-table;
    margin-left: auto;
    margin-right: auto;
    scale: 1
    
}

.textalt {
    color: white;
    font-family: vcr;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    scale: 0.8;
}

.textdesc {
    color: white;
    font-family: vcr;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    scale: 1;   
    margin-bottom: 5%;
}

@font-face {
    font-family: vcr;
    src: url(VCR_OSD_MONO_1.001.ttf);
}


.projects {
    display: grid;
    grid-template-columns: 4 4;
    grid-template-rows: repeat(2, min-content);
    place-items: center;
}

a {
    color: azure;
    font-size: x-large;
}

.push {
    border-bottom: 45%;
}

.MSTK {
    color: rgb(59, 59, 59)
}

@keyframes logorot {
    0% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(20%);
    }
}

@keyframes carl {
    0% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(20%);
    }
}