@font-face {
    font-family: vcr;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

html {
    background-color: rgb(40, 53, 82);
}

a {
    color: rgb(43, 0, 255)
}

img {
    outline-style: auto;
    outline: auto;
    outline-width: 5px;
}

.title {
    color:rgb(103, 119, 176);
    font-family: vcr;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    scale: 1;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}